<ng-template #dialogConfigureTemplate>
  <div>
    <mat-checkbox [(ngModel)]="checked">Send Alert on Following Emails &nbsp; </mat-checkbox>
    <div class="email-section">
      <p *ngFor="let item of configure">{{item?.email}}</p>
     
      <button class="save" mat-button (click)="addEmail()">Save</button>
    </div>
  </div>
</ng-template>
<ng-template #dialogAlertTemplate>
  <div class="alert-section">
    <form [formGroup]="alertForm">
    <mat-form-field appearance="fill" class="form-section">
      <mat-label>Alert Type</mat-label>
      <mat-select formControlName="Type">
        <mat-option value="Load Average">Load Average</mat-option>
        <mat-option value="Harddisk Space">Harddisk Space</mat-option>
        <mat-option value="Memory Usage">Memory Usage</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-section">
      <mat-label>Conditions</mat-label>
      <mat-select formControlName="Conditions"> 
        <mat-option value="Is More Than">Is More Than (>)</mat-option>
        <mat-option value="Is Less Than">Is Less Than (<)</mat-option>
        <mat-option value="Is Equal To">Is Equal To (=)</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-section">
      <mat-label>Value</mat-label>
      <input matInput placeholder="Value" formControlName="Actions">
    </mat-form-field>
    <button mat-button (click)="addAlert(alertForm.value)">ADD</button>
  </form>
  </div>
</ng-template>

<section class="right-section">
  <div class="section-area">
    <mat-checkbox [(ngModel)]="checked">System to is configured to send alerts to &nbsp; </mat-checkbox> <button
      mat-button (click)="openDialogConfigure()">Configure</button>
  </div>
  <div class="section-area">
    Select Server &nbsp; <mat-form-field appearance="fill" class="form-section">
      <mat-label>Choose one</mat-label>
      <mat-select>
        <mat-option value="valid">Shantanu Server (203.22.32.44)</mat-option>
        <mat-option value="valid">Shantanu Server (203.24.44.66)</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="openDialogAlert()">Add New Alert</button>
  </div>
  <div class="section-area">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Type Column -->
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
      </ng-container>

      <!-- Conditions Column -->
      <ng-container matColumnDef="Conditions">
        <th mat-header-cell *matHeaderCellDef> Conditions </th>
        <td mat-cell *matCellDef="let element">{{'Alert When'}} {{element.Type}} {{element.Conditions}} {{element.Actions}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element;let i = index"> <button class="delete" mat-button (click)="deleteData(i)">Delete</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>